.rightContainer{
    border: 1px solid black;
    width: 100%;
}

.rightBlackSegment{
    background-color: black;
    color: white;
    display: flex;
    align-content: flex-start;
    padding: .5rem;
}


.divWithRoseAndMargaux{
    display: flex;
}

.margauxOrRoseDiv{
    margin: .5rem;
    border: 1px solid black;
}

.margauxOrRoseDiv img {
width: 100%;
}

ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 2rem;
}

ul li{
    padding: 1rem;
    display: flex;
    justify-content: flex-start;

}